

.navbar-dashboard {
    width: 100%;
}


/* card section styling */
.heart {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 25px;
  color:red;
  z-index: 1;
}

.image-frame {
    position: relative 
}

#cards-section {
    display: block;
}

.card {
display: block;
}

/* .overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 50px solid #000000;
    border-left: 50px solid transparent; */